{% extends 'base.html' %}
{% block title %}Login page {% endblock %}
{% block content %}
{% for i in messages %}
{{i}}
{% endfor %}
<section class="login_section">
<h2>User Login</h2>

<form method="post" class="login_form">
  <div class="login_main">
    <div class="login_main_inner">
    {% csrf_token %}

    <label>Email</label>
    <input type="email" name="email"><br>

    <label>Password</label>
    <input type="password" name="password"><br>

    
    <div class="login_btn_outer"><button class="login_btn" type="submit" value="login">Login</button></div>
</div>
</div>
</form>   
<div><h5 style="color: rgb(54, 119, 119);">Don't have an Account ? <a href="{% url 'authregister' %}" style="text-decoration: none;">Register</a></h5></div>
</section>
{% endblock %}