{% extends 'base.html' %}
{% block title %}Register page {% endblock %}

{% block content %}

{% for i in messages %}
{{i}}
{% endfor %}
<section class="register_section">
    <h2>User Register</h2>
    <form method="post" enctype="multipart/form-data" class="register_form">
        <div class="register_main">
        <div class="register_main_inner">
        {% csrf_token %}

        <label>First Name</label>
        <input type="text" name="first_name"><br>

        <label>Last Name</label>
        <input type="text" name="last_name"><br>

        <label>Email</label>
        <input type="email" name="email"><br>

        <label>Password</label>
        <input type="password" name="password"><br>

        <label>Confirm Password</label>
        <input type="password" name="re-password"><br>

        <label>Address:</label>
        <input type="text" name="address"><br>
      
        <label>Phone:</label>
        <input type="number" name="phone"><br>

        <label>Age:</label>
        <input type="number" name="age"><br>

        <label>upload profile picture :</label>
        <input type="file" name="upload"><br>

        <div class="register_btn_outer"><button class="register_btn" type="submit" value="register">Register</button></div>
        </div>
        </div>
    </form>
    </div>
    <div><h5 style="color: rgb(54, 119, 119);">Already have an Account ? <a href="{% url 'authlogin' %}" style="text-decoration: none;">Login</a></h5></div>
</section>
{% endblock %}